# Temp files
.DS_Store
*~
buck-out/

# Compiled files
.venv/
__pycache__/
.*cache/

# Distribution / packaging
/dist/

# Tests and coverage
/data/
/node_modules/

# docs
/docs/generated/
/docs/_build/
.ipynb_checkpoints/
/docs/notebooks/tutorials/test_adata.ipynb

# datasets and models
*.h5ad
*.pt
